<a href="https://colab.research.google.com/github/hammadinour/gomycode/blob/main/checkpoint7final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Delete rows with Nan values.
Extract the 'name' and 'score' columns from the DataFrame.
Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
Write a Pandas program to delete the 'attempts' column from the DataFrame.
Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
After executing the final DataFrame, export it into a CSV file named "my_data".

In [145]:
from numpy import row_stack
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, 'nan', 9, 20, 14.5, 'nan', 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , columns =['name', 'score', 'attempts','qualify'], index=labels)
#print(df)
#print(df.head(3))

df = df.drop(df[df['score']=='nan'].index)
#print(df)
#print(df[['name','score']])
add1={'name': "Suresh", 'score': 15.5, 'attempts': 1, 'qualify': "yes"}
labels.append ('k')
data1 = pd.DataFrame (add1 ,columns =['name', 'score', 'attempts','qualify'], index=['k'])
df = pd.concat([df,data1])
#df =df.drop (columns ='attempts',axis = 1)



#df['success'] = bool (df['score'])
#df.success ()= bool(df.score >= 10)

df['success']= (df.score >= 10 )
for i in range (len(df['success'])):
	if df['success'][i] == True:
		df['success'][i] = 1
	else:
		df['success'][i] = 0

#print(df)
df.to_csv('my_data')
new=pd.read_csv('my_data')
print(new)

  Unnamed: 0       name  score  attempts qualify  success
0          a  Anastasia   12.5         1     yes        1
1          b       Dima    9.0         3      no        0
2          c  Katherine   16.5         2     yes        1
3          e      Emily    9.0         2      no        0
4          f    Michael   20.0         3     yes        1
5          g    Matthew   14.5         1     yes        1
6          i      Kevin    8.0         2      no        0
7          j      Jonas   19.0         1     yes        1
8          k     Suresh   15.5         1     yes        1

<ipython-input-145-6c48214c33ae>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['success'][i] = 1